header{
  width: 1090px;
  background-color: aqua;
}

img {
width: 150px;
margin-top: -200px;
padding-bottom: 20px;
margin-left: 30px;
}

h1 {
  color: red;
  text-align: center;
}

p {
  color: red;
font-style: italic;
  text-align: center;
  padding-bottom: 0px;
}

h2 {
  color: red;
padding-top: 30px;
  text-align: center;
}

article {
  margin-top: 0px;
  border-top: 6px solid red;
  background-color: palegreen;
  width: 290px;
  height: 600px;
}

.dark {
  font-weight: bold;
  margin-right: 160px;
  color: black;
}

.vador {
  margin-right: 150px;
  color: black;
}

.first {
  margin-right: 90px;
  color: black;
}

.two {
  margin-right: 10px;
  color: black;
}

.three {
  margin-right: 140px;
  color: black;
}

.four {
  font-weight: bold;
  margin-right: 160px;
  color: black;
}
.five {
  margin-right: 60px;
  color: black
}

.six {
  font-weight: bold;
  margin-right: 210px;
  color: black;
}
.seven {
  margin-right: 120px;
  color: black;
}

.eight {
  margin-right: 90px;
  color: black;
}
.nine {
  margin-right: 190px;
  color: black;
}

section {
  background-color: cornflowerblue;
  margin-left: 290px;
  margin-top: -626px;
  width: 800px;
  height: 606px;
}

.ten {
  color: black;
  padding-top: 10px;
  font-weight: bold;
}

.eleven {
  color: black;
  text-decoration:  red underline;
  margin-right: 470px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
}

.azer {
  color: black;
  margin-right: 430px;
}


.twelve {
  color: black;
  margin-right: 501px;
  font-size: 15px;
}

.thirteen {
  color: black;
  margin-right: 430px;
  font-size: 15px;
}

.fourteen {
  font-weight: bold;
  color: black;
text-decoration: red underline;
margin-right: 640px;
font-weight: bold;
font-size: 20px;
}

.fifteen {
  color: black;
  margin-right: 470px;
  font-size: 15px;
}

.sixteen {
  color: black;
  margin-right: 500px;
}

.seventeen {
  font-weight: bold;
  color: black;
  text-decoration: red underline;
  font-size: 20px;
  margin-right: 570px
}


.eighteen {
  color: black;
  margin-right: 300px;
}
